[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bonobo = {path = "./bonobo"}
cachecontrol = "*"
lockfile = "*"
bonobo-sqlalchemy = "*"
pymysql = "*"

[requires]
python_version = "3.7"
